/* ==========================================================================
   Variables
   ========================================================================== */

//Type settings
$base-font-size: 16px;
$font-path: "../fonts/";


$white: #fff;
$gray: #949599;

$transitionTime: 0.3s;