@include font-face('Futura', 'futura-condensed-med', normal, normal);

html, body, canvas {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: 'Futura', Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
    color: white;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#speakers {
    z-index: 2;
}

body {
    //background: #FFFDC7 url(../img/bg.png);
    background-color: #000;
}