---
title: Home
bodyClass: home
---

<!-- <canvas id="canvas"></canvas> -->

<div class="dave">
    <img class="body" src="shared/img/body.png" alt="">

    <div class="head">
        <img class="glasses" src="shared/img/glasses.png" alt="">
        <img class="hair" src="shared/img/hair.png" alt="">
        <img class="beard" src="shared/img/beard.png" alt="">
        <img class="brow-left" src="shared/img/brow-left.png" alt="">
        <img class="brow-right" src="shared/img/brow-right.png" alt="">

        <img class="eyes-closed" src="shared/img/eyes-closed.png" alt="">
        <img class="eyes" src="shared/img/eyes.png" alt="">

        <img class="face" src="shared/img/face.png" alt="">
    </div>
</div>

<h2 class="retro">David Brown</h2>