<h3 id="stats"></h3>

<div id="noise">&nbsp;</div>
<canvas id="speakers">&nbsp;</canvas>
<canvas id="sarah-mei">&nbsp;</canvas>
<canvas id="canvas">&nbsp;</canvas>

<div class="horizontal-dashed-left"></div>
<div class="horizontal-dashed-right"></div>

<div class="vertical-dashed-top"></div>
<div class="vertical-dashed-bottom"></div>

<img style="display: none" src="shared/img/particle.png"/>