
<!-- Splash -->

<div class="outer">
<div>
    <div class="cube-wrap">
        <div class="cube depth">
            <div class="front-pane"></div>
            <div class="back-pane"></div>
            <div class="top-pane"></div>
            <div class="bottom-pane"></div>
            <div class="left-pane"></div>
            <div class="right-pane"></div>
        </div>
    </div>
</div>

<h1>People Behind the Pixels</h1>

<hr>

<p>This title sequence served as the opener of <a target="_blank" href="http://www.webdirections.org/wds14">Web Directions 2014</a>. Its story is about the combined efforts required by many people that result in great products and services. The many people who imagine, design, test and finally build these ideas. The conference Web Directions brings together those who lead from the front as well as those who passionately labour over the tiny details.</p>

<p>In our film, all these individuals are represented by a 'pixel'. Their stories evolve into playful geometric structures, yet always keep their original core — the element that binds everything together into a single experience.</p>

<p>This film renders in real time and was developed for large screen sizes, <a target="_blank" href="http://www.google.com/chrome">Google Chrome</a> and high performance computers.</p>

<p>You can watch a <a target="_blank" href="https://vimeo.com/110638634">screen capture of the film.</a></p>

<button class="open-popup-link" href="#who">
    About the creators
    <img src="shared/img/question.svg" alt="">
</button>

<div id="who" class="white-popup mfp-hide">

    <a target="_blank" href="http://www.reactive.com/"><img class="logo-popup" src="shared/img/reactive.jpg" alt="Reactive Media"></a>
    <p>Created with love by a group of colleagues and friends for Web Directions South 2014.</p>

    <hr/>

    <h4>Code Ninjas</h4> Dan Creamer <a target="_blank" href="https://twitter.com/triceratopnotch">@triceratopnotch</a> | Michael Ngo <a target="_blank" href="https://twitter.com/hellomichaelngo">@hellomichaelngo</a> | Pete Rawlings <a target="_blank" href="https://twitter.com/roolins">@roolins</a><br/>

    <h4>Design & Creative Direction </h4> David Brown <a target="_blank" href="https://twitter.com/toomanybrown">@toomanybrown</a> | Melissa Baillache <a target="_blank" href="https://twitter.com/melbaillache">@melbaillache</a><br/>

    <h4>Music</h4> Pete Rawlings <a target="_blank" href="https://twitter.com/roolins">@roolins</a> | &copy; 2014 <br/>

</div>

<button id="play">
    Loading film
    <img src="shared/img/play.svg" alt="">
</button>

</div>
<div class="small">
    <div class="video">
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://player.vimeo.com/video/110638634' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    </div>

    <h1>People Behind the Pixels</h1>

    <hr/>

    <p>This title sequence served as the opener of <a target="_blank" href="http://www.webdirections.org/wds14">Web Directions 2014</a>. Its story is about the combined efforts required by many people that result in great products and services. The many people who imagine, design, test and finally build these ideas. The conference Web Directions brings together those who lead from the front as well as those who passionately labour over the tiny details.</p>

    <p>In our film, all these individuals are represented by a 'pixel'. Their stories evolve into playful geometric structures, yet always keep their original core — the element that binds everything together into a single experience.</p>

    <p>This film renders in real time and was developed for large screen sizes, <a target="_blank" href="http://www.google.com/chrome">Google Chrome</a> and high performance computers.</p>

    <p>You can watch a <a target="_blank" href="https://vimeo.com/110638634">screen capture of the film.</a></p>
</div>

<!-- Like Button -->
<div class="social">
<div class="fb-like" data-href="http://www.peoplebehindthepixels.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.peoplebehindthepixels.com" data-via="reactive" data-hashtags="wd14">Tweet</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>



<!-- Canvas Scenes -->
<canvas id="canvas">&nbsp;</canvas>
<canvas id="speakers">&nbsp;</canvas>
<canvas id="sarah-mei">&nbsp;</canvas>

<!-- CSS Shapes -->
<div class="horizontal-dashed-left"></div>
<div class="horizontal-dashed-right"></div>
<div class="vertical-dashed-top"></div>
<div class="vertical-dashed-bottom"></div>
<div class="shape"></div>

<!-- Background -->
<div id="noise">&nbsp;</div>
<div class="gradient"></div>
<img style="display: none" src="shared/img/particle.png"/>
<img class="logo" src="shared/img/wd-logo.png" alt=""/>
