<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6 no-js " lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>
        People Behind the Pixels | Web Directions 2014 Title Sequence
    </title>
    <link rel="icon" type="image/png" href="/shared/img/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    {{#if production}}
        <link rel="stylesheet" href="shared/css/style.min.css"/>
    {{else}}
        <link rel="stylesheet" href="shared/css/style.css"/>
    {{/if}}

    <meta property="og:title" content="People Behind the Pixels | Web Directions 2014 Title Sequence"/>
    <meta property="og:image" content="http://peoplebehindthepixels.com/shared/img/pbtp-fb.png"/>
    <meta property="og:description" content="This title sequence served as the opener of Web Directions 2014. Its story is about the combined efforts required by many people that result in great products and services. This film renders in real time and was developed for large screen sizes, Google Chrome and high performance computers."/>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56270377-1', 'auto');
      ga('send', 'pageview');
    </script>

    <style type="text/css">
    @-moz-document url-prefix() {
        .splash-wrap a, .splash-wrap p {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
        }
    }
    </style>
</head>

<body class="">
    {{> body}}

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery.min.js"><\/script>')</script> -->

    {{#if production}}
        <script src="shared/js/scripts.min.js"></script>
    {{else}}
        <script src="shared/js/plugins.js"></script>
        <script src="shared/js/src.js"></script>
        <script src="shared/js/main.js"></script>
    {{/if}}

    <div id="fb-root"></div>

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.async=true; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=302377006632494&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>