<!-- Canvas Scenes -->
<canvas id="canvas">&nbsp;</canvas>
<canvas id="speakers">&nbsp;</canvas>
<canvas id="sarah-mei">&nbsp;</canvas>

<!-- CSS Shapes -->
<div class="horizontal-dashed-left"></div>
<div class="horizontal-dashed-right"></div>
<div class="vertical-dashed-top"></div>
<div class="vertical-dashed-bottom"></div>
<div class="shape"></div>

<!-- Background -->
<div id="stats">&nbsp;</div>
<div id="noise">&nbsp;</div>
<div class="gradient"></div>

<img style="display: none" src="shared/img/particle.png" alt=""/>
<img class="logo" src="shared/img/wd-logo.png" alt=""/>